<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
          <a class="navbar-brand" href="/nestproject/products">NestJS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-xl-5">
              <form class="d-flex" method = "post" action="/nestproject/products/find">
                  <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search" name = "NameProduct" require>
                  <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="https://scontent.fhan15-2.fna.fbcdn.net/v/t39.30808-6/273005758_1116500092499621_9042813709665615208_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=WAjr7n4z5dUAX-RN_t_&_nc_ht=scontent.fhan15-2.fna&oh=00_AT_D5PO0vxsgeE4pRU75Yhj276ggRCz3rUf_AmhvQUvD1A&oe=62127E83" class="user-avartar" alt=""> 
               Văn Chương
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/nestproject/products/me/createProduct">Thêm sản phẩm</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/nestproject/products/stored/show">Quản lí sản phẩm</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/nestproject/cart?id={{this.id_User}}">Giỏ hàng</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Đăng xuất</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
</nav>